/* patient_purpose.css */
.patient-layout {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.patient-form {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #d76b49;
    color: white;
}

.save-button, .delete-button, .add-button {
    background-color: #fd7e50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.save-button:disabled {
    opacity: 0.5;
    cursor: default;
}

.delete-button {
    background-color: #dc3545;
}

.form-select {
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

.inline-selects > div {
    margin-bottom: 5px;
}

.medications-wrapper,
.procedures-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.medication-select-wrapper,
.procedure-select-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.medication-select-wrapper button,
.procedure-select-wrapper button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
