{% extends 'main/base.html' %}

{% load static %}
{% block title %}Задания{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/patient_detail.css' %}">
<link rel="stylesheet" href="{% static 'CSS/assignments.css' %}">
{% endblock %}

{% block content %}
<div class="patient-layout">
    {% include 'main/assignments_sidebar.html' %}

    <div class="patient-content">
        <h2>Задания</h2>

        {% if staff.medical_staff_post == 'Главврач' %}
            <p>Вы видите все задания.</p>
        {% else %}
            <p>Вы видите только активные и приостановленные задания.</p>
        {% endif %}

        {% if assignments %}
        
        <table>
            <thead>
                <tr>
                    <th>Пациент</th>
                    <th>Дата начала</th>
                    <th>Длительность</th>
                    <th>Статус</th>
                    <th>Диагноз</th>
                    {% if staff.medical_staff_post == 'Главврач' %}
                        <th>Работник</th>
                        <th>ФИО Работника</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.hospitalization.patient.patient_name }}</td>
                        <td>{{ assignment.purpose_startdate }}</td>
                        <td>{{ assignment.purpose_duration }}</td>
                        <td>{{ assignment.purpose_status }}</td>
                        <td>{{ assignment.purpose_diagnosis }}</td>
                        {% if staff.medical_staff_post == 'Главврач' %}
                            <td>
                                {% if assignment.medical_staff %}
                                    {{ assignment.medical_staff.medical_staff_post }}
                                {% else %}
                                    Не назначен
                                {% endif %}
                            </td>
                            <td>{{ assignment.medical_staff.medical_staff_name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="export-button-container">
            {% if staff.medical_staff_post == 'Главврач' %}
                <form method="post" action="{% url 'export_assignments' %}">
                    {% csrf_token %}
                    <button type="submit" class="export-button">Экспортировать в CSV</button>
                </form>
            {% endif %}
        </div>
        {% else %}
            <p>Заданий нет.</p>
        {% endif %}
    </div>
</div>

<style>
.export-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.export-button {
    background-color: #d76b49;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

.export-button:hover {
    background-color: #ffffff;
    color: #d76b49;
}
</style>
{% endblock %}
