{% extends 'main/base.html' %}
{% load static %}

{% block title %}Задания{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/patient_detail.css' %}">
{% endblock %}

{% block content %}
<div class="patient-layout">
    {% include 'main/assignments_sidebar.html' %}

    <div class="patient-content">
        <h2>Задания</h2>

        {% if staff.medical_staff_post == 'Главврач' %}
            <p>Вы видите все задания.</p>
        {% else %}
            <p>Вы видите только активные и приостановленные задания.</p>
        {% endif %}

        {% if assignments %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Пациент</th>
                    <th>Дата начала</th>
                    <th>Длительность</th>
                    <th>Статус</th>
                    <th>Диагноз</th>
                    <th>Лечащий врач</th> <!-- Новый столбец -->
                </tr>
            </thead>
            <tbody>
                {% for a in assignments %}
                <tr>
                    <td>{{ a.hospitalization.patient.patient_name }}</td>
                    <td>{{ a.purpose_startdate|date:"d.m.Y" }}</td>
                    <td>{{ a.purpose_duration }}</td>
                    <td>{{ a.purpose_status }}</td>
                    <td>{{ a.purpose_diagnosis }}</td>
                    <td>{{ a.hospitalization.medical_staff.medical_staff_name }}</td> <!-- Лечащий врач -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="export-button-container">
            <form method="post" action="{% url 'export_assignments' %}">
                {% csrf_token %}
                <button type="submit" class="export-button">Экспортировать в CSV</button>
            </form>
        </div>
        {% else %}
            <p>Заданий нет.</p>
        {% endif %}
    </div>
</div>

<style>
.export-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.export-button {
    background-color: #d76b49;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

.export-button:hover {
    background-color: #ffffff;
    color: #d76b49;
}
</style>
{% endblock %}
