<div class="patient-sidebar">
    <a href="{% url 'patient_detail' patient.patient_id %}" 
       class="patient-sidebar-item {% if active_page == 'main' %}active{% endif %}">Главная</a>
    <a href="{% url 'patient_hospitalization' patient.patient_id %}" 
       class="patient-sidebar-item {% if active_page == 'hospitalization' %}active{% endif %}">Госпитализация</a>
    <a href="{% url 'patient_purpose' patient.patient_id %}" 
       class="patient-sidebar-item {% if active_page == 'purpose' %}active{% endif %}">Назначения</a>
    <a href="{% url 'patients' %}" class="patient-sidebar-back">Вернуться к пациентам</a>
</div>
