{% extends "main/base.html" %}
{% block title %}Процедуры{% endblock %}

{% block content %}
    <h2>Записи выполнения процедур</h2>

    <!-- Таблица с записями выполнения процедур -->
    <table>
        <thead>
            <tr>
                <th>Процедура</th>
                <th>Дата выполнения</th>
                <th>Статус</th>
                <th>Продолжительность</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            {% for procedure_execution in procedures_executions %}
                <tr>
                    <td>{{ procedure_execution.procedures_id.procedures_name }}</td>
                    <td>{{ procedure_execution.procedures_execution_date }}</td>
                    <td>{{ procedure_execution.procedures_execution_status }}</td>
                    <td>{{ procedure_execution.procedures_execution_duration }}</td>
                    <td>{{ procedure_execution.procedures_execution_comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Добавить выполнение процедуры</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить выполнение процедуры</button>
    </form>
{% endblock %}
