{% extends 'main/base.html' %}

{% load static %}
{% block title %}Активные процедуры{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/patient_detail.css' %}">
<link rel="stylesheet" href="{% static 'CSS/assignments.css' %}">
{% endblock %}

{% block content %}
<div class="patient-layout">
    {% include 'main/assignments_sidebar.html' %}

    <h1>Активные процедуры</h1>

    <div class="procedures-list">
        {% for procedure in active_procedures %}
            <div class="procedure-card">
                <h3>{{ procedure.procedures_name }}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="procedure_id" value="{{ procedure.id }}">
                    <p>Дата: {{ today }}</p> <!-- Автоматически сегодня -->
                    
                    <label for="duration">Длительность процедуры (в часах):</label>
                    <input type="number" step="0.1" name="duration" required>

                    <label for="comment">Комментарий:</label>
                    <textarea name="comment"></textarea>

                    <label for="status">Статус:</label>
                    <select name="status">
                        <option value="В ожидании" selected>В ожидании</option>
                        <option value="Завершена">Завершена</option>
                        <option value="Отменена">Отменена</option>
                    </select>

                    <button type="submit">Сохранить</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
