{% extends 'main/base.html' %}

{% load static %}
{% block title %}Мои процедуры{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/patient_detail.css' %}">
<link rel="stylesheet" href="{% static 'CSS/assignments.css' %}">
{% endblock %}

{% block content %}
<div class="patient-layout">
    {% include 'main/assignments_sidebar.html' %}

    <h1>Активные процедуры</h1>

    <!-- Кнопка для добавления новой процедуры -->
    <button id="add-procedure-btn" class="btn btn-primary">Добавить выполненную процедуру</button>

    <!-- Модальная форма или карточка для ввода процедуры -->
    <div id="procedure-form" style="display: none;">
        <h3>Добавление выполненной процедуры</h3>
        <!-- HTML шаблон -->
        <form method="POST">
            {% csrf_token %}

            <label for="procedure">Выберите процедуру:</label>
            <select name="procedure_id" id="procedure" class="form-control">
                {% for procedure in procedures_list %}
                    <option value="{{ procedure.id }}">{{ procedure.procedures_name }}</option>
                {% endfor %}
            </select>

            
            <label for="procedures_execution_duration">Длительность процедуры:</label>
            <input type="number" name="procedures_execution_duration" class="form-control" step="0.1" required>

            <label for="procedures_execution_comment">Комментарий:</label>
            <textarea name="procedures_execution_comment" class="form-control" required></textarea>

            <label for="procedures_execution_status">Статус:</label>
            <select name="procedures_execution_status" class="form-control">
                <option value="В ожидании">В ожидании</option>
                <option value="Выполнено">Выполнено</option>
                <option value="Отменено">Отменено</option>
            </select>

            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>

    <h3>Активные процедуры:</h3>
    {% if procedures_list %}
        <ul>
            {% for procedure in procedures_list %}
                <li>{{ procedure.procedures_name }} - {{ procedure.procedures_execution_date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет активных процедур.</p>
    {% endif %}
</div>

<script>
    // JavaScript для открытия формы при нажатии кнопки
    document.getElementById('add-procedure-btn').addEventListener('click', function() {
        document.getElementById('procedure-form').style.display = 'block';
    });
</script>

{% endblock %}
